*{
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    }
    body{
        max-width: 1440px;
        height: 100%;
        margin: 0 auto;
        }
    li{
    list-style: none;
    }
    
    a{
        text-decoration: none;
    }
    h1, h2, h3, p{
        margin: 0;
    }
