@import '../../../src/sass/BaseElements.scss';

.footer{
    background-color: $DarkGrey;
    color: $LightBlue;
    text-align: center;
    width: 100%;
    font-size: 15px;
    padding: 2% 0%;
}

@media (max-width: 750px){
    .footer{
        padding: 8%;
        font-size: 10px;
    }
}