@import '../../../src/sass/BaseElements.scss';

.notFoundMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9% 0%;
    .notFoundOups{
        color: $Green;
        font-size: 53px;
        font-weight: bold;
    }
    .notFoundText{
        font-size: 20px;
        font-weight: 300;
    }
    .notFoundLink{
        color: $Green;
    }
}
@media(max-width:750px){
    .notFoundText{
        text-align: center;
    }
}